.box-item {
    border-bottom: none;
}
th {
    background: gray;
}
td {
    text-align: center;
}
.content em{
    color: #000;
}


#sortable1, #sortable2 {
    border: 1px solid #eee;
    width: 142px;
    min-height: 20px;
    list-style-type: none;
    margin: 0;
    padding: 5px 0 0 0;
    float: left;
    margin-right: 10px;
}
#sortable1 li, #sortable2 li {
    margin: 0 5px 5px 5px;
    padding: 5px;
    font-size: 1.2em;
    cursor: pointer;
    width: 120px;
}
#sortable1 li span,#sortable2 li span {
    float: right;
    height: 40px;
    width: 50px;
  }
#sortable2 li span {
    display: none;
}